/* made for fun :P */




/* Banner // Banner // Banner // Banner // Banner*/
.Banner {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #98e9d0;
	width: 100%;
	height: 78px;
}
/* // // // // // // // // // // // // // // // /*/









/* Content // Content // Content // Content // Co*/
.Content {
	position: absolute;
	top: 110px;
	height: 85%;
	width: 100%;
	font-family: "Poppins", sans-serif;
  	font-weight: 500;
  	font-style: normal;
}




/* Column-Item // Column-Item // Column-Item // C*/
.Column-Item {
	font-size: 1.2em;
}




/* Links // Links // Links // Links // Links*/
.Links {
	float: left;
	width: 185px;
	height: 100%;
	overflow: auto;
	padding: 5px;
	margin-right: 10px;
	border-radius: 16px;
	border: 3px solid #efefef;
}
/* // // // // // // // // // // // // // // // /*/








/* Info // Info // Info // Info // Info // Info /*/
.Info {
	text-align: center;
	float: none;
	margin-right: 20px;
	overflow: auto;
	height: 100%;
	padding: 10px;
	border: 3px solid #efefef;
	border-radius: 16px;
}




.Title {
	text-align: center;
	border: 3px black;
	font-family: "Playwrite AR", cursive;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-size: 72px;
	margin-bottom: 12px;
}




.Description {
	text-align: center;
	overflow: auto;
	border: 5px;
	padding: 10px;
	margin-bottom: 420px;
}




.Page-Content {
	text-align: left;
	border: 5px;
	padding: 10px;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 64px;
}
/* // // // // // // // // // // // // // // // /*/








/* // // // // // // // // // // // // // // // /*/








/* // // // // // // // // // // // // // // // /*/








/* Video // Video // Video // Video // Video // V*/
.Video {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:64px;
	border-radius: 16px;
	width: 100%;
	max-width: 1080px;
}
/* // // // // // // // // // // // // // // // /*/








/* Code // Code // Code // Code // Code // Code /*/
.Code {
	white-space: pre-wrap;
	background-color: #efefef;
	border: none;
	color: black;
	padding: 13px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	margin: 2px;
	border-radius: 16px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	width: 100%;
	max-width: 1080px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:64px;
}
/* // // // // // // // // // // // // // // // /*/








/* Button // Button // Button // Button // Button*/
.button {
	background-color: #FFFFFF;
	border: none;
	color: black;
	padding: 0px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px 0px 0px 3px;
	cursor: pointer;
	border-radius: 16px;
	font-size: 2em;
	font-family: "Playwrite AR", cursive;
	font-weight: 500;
	font-style: normal;
}




.button:hover {
	background-color: #FFFFFF;
	border: none;
	color: black;
	padding: 0px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px 0px 0px 3px;
	cursor: pointer;
	border-radius: 16px;
	font-size: 2em;
	color: black;
	font-style: bold;
}
/* // // // // // // // // // // // // // // // /*/








/* Table // Table // Table // Table // Table // T*/
table {
	width:84%;
	margin-left:auto;
	margin-right:auto;
}




th {
	background-color:#98e9d0; 
	padding: 12px; 
	border-radius:4px;
}




td {
	background-color:#efefef; 
	padding: 12px; 
	border-radius:4px;
}
/* // // // // // // // // // // // // // // // /*/
